<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin_operator.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="left_side_bar">
        <div class="logo">
            <img src="image/BoB-Logo.svg" alt="">
        </div>
        <div class="navigations">
            <div class="nav top">
                <a href="dashboard">
                    <div class="nav_link">
                        Dashboard
                    </div>
                    <img src="image/dash_g.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="appointment">
                    <div class="nav_link">
                        Appointment
                    </div>
                    <img src="image/icon1.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="service">
                    <div class="nav_link">
                        Services
                    </div>
                    <img src="image/icon2.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav  active">
                <a href="operator">
                    <div class="nav_link  active">
                        Operator
                    </div>
                    <img src="image/operator_w.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="prioritize">
                    <div class="nav_link">
                        Prioritize
                    </div>
                    <img src="image/icon4.svg" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="logout_profile">
            <div class="nav bot" data-bs-toggle="modal" data-bs-target="#modalprofile">
                <a href="#" class="diff">
                    <div class="nav_link">
                        Profile
                    </div>
                    <img src="image/profile.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav bot">
                <a id="logout" class="diff">
                    <div class="nav_link">
                        Log Out
                    </div>
                    <img src="image/icon4.svg" class="icon" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="right_main_container">
        <div class="header">
            <div class="title">
                Operator
            </div>
            <div class="date">
                <div class="button_divs">
                    <button type="button" class="add_teller" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Add Operator</span><span class="plus">+</span></button>
                </div>
            </div>
        </div>
        <div class="table-container for_service">
            <table class="table table-bordered table_for_service tableforappoint">
                <thead class="table-dark">
                    <tr>
                        <th class="slno">SL NO</th>
                        <th class="operatorid">Operator ID</th>
                        <th class="serv">Service</th>
                        <th class="cn">Counter Number</th>
                        <th class="sta">Status</th>
                        <th class="act">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Col 2</td>
                        <td>Row 1 Col 2</td>
                        <td>Row 1 Col 3</td>
                        <td>Row 1 Col 4</td>
                        <td>Active</td>
                        <td><img src="image/remove.svg" data-bs-toggle="modal" data-bs-target="#exampleModal2" alt=""> <img src="image/edit.svg" data-bs-toggle="modal" data-bs-target="#exampleModal1" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="service_performance_graph">
            <select id="person-select">
            </select>
            <select id="data-type" onchange="toggleMonthVisibility()">
                <option value="daily">Daily Data</option>
                <option value="monthly">Monthly Data</option>
            </select>
            <select id="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <select id="year"></select>
            <button type="button" onclick="fetchAndDrawData()">
                <img src="image/search.svg" alt="Search">
            </button>
            <div id="curve_chart" style="width: 100%; height: 100%"></div>
        </div>        
    </div>
    <!-- Modal for Editing Operator -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit the Operator</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input_field">
                    <span class="topic">Operator Name</span> <span class="star">*</span><br>
                    <input type="text" id="edit-operator-name">
                </div>
                <div class="input_field">
                    <span class="topic">Service</span> <span class="star">*</span><br>
                    <!-- <input type="text" id="edit-service"> -->
                    <select class="serv" id="edit-service">
                        <option value="Cash (Deposit or Withdraw)">Cash (Deposit/Withdrawal)</option>
                        <option value="RTGS">RTGS</option>
                        <option value="SWIFT">SWIFT</option>
                        <option value="ATS/DSA">ATS/DSA</option>
                        <option value="Dollar Selling/FC Transfer/Travel Agent or CBC">Dollar Selling/FC Transfer/Travel Agent/CBC</option>
                    </select>
                </div>
                <div class="input_field">
                    <span class="topic">Counter Number</span> <span class="star">*</span><br>
                    <input type="text" id="edit-counter">
                </div>
                <div class="input_field">
                    <span class="topic">Email</span> <span class="star">*</span><br>
                    <input type="text" id="edit-email" readonly>
                </div>
                <div class="input_field">
                    <span class="topic">Status</span> <span class="star">*</span><br>
                    <select id="edit-status" class="activeness">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                        <option value="leave">Leave</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="save-changes-btn" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for add -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Operator</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input_field">
                <span class="topic">Operator ID</span> <span class="star">*</span><br>
                <input id="opname" type="text" placeholder="Enter Name">
            </div>
            <div class="input_field">
                <span class="topic">Service</span> <span class="star">*</span><br>
                <select class="serv" id="serviceDropdown">
                    <option value="Cash (Deposit/Withdraw)">Cash (Deposit/Withdrawal)</option>
                    <option value="RTGS">RTGS</option>
                    <option value="SWIFT">SWIFT</option>
                    <option value="ATS/DSA">ATS/DSA</option>
                    <option value="Dollar Selling/FC Transfer/Travel Agent or CBC">Dollar Selling/FC Transfer/Travel Agent/CBC</option>
                </select>
            </div>
            <div class="input_field">
                <span class="topic">Counter Number</span> <span class="star">*</span><br>
                <input id="opcnumber" type="text" placeholder="Enter counter number">
            </div>
            <div class="input_field">
                <span class="topic">Email</span> <span class="star">*</span><br>
                <input id="email" type="text" placeholder="Enter email address">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="addoperator" type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Operator</button>
        </div>
      </div>
    </div>
</div>
<!-- Modal for confirmation -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the teller?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn" data-bs-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input_field">
                    <span class="topic">Name</span><br>
                    <input id="userName" type="text" readonly>
                </div>
                <div class="input_field">
                    <span class="topic">Email</span><br>
                    <input id="userEmail" type="text" readonly>
                </div>
                <div class="input_field">
                    <span class="topic">Change password</span><br>
                    <input id="passwordCurrent" type="password" placeholder="Enter Current password">
                    <input id="passwordNew" type="password" placeholder="Enter New password">
                    <input id="passwordConfirm" type="password" placeholder="Enter the new password again">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="update-password-btn" data-bs-dismiss="modal">Save change</button>
                <button class="btn btn-danger" id="export-excel1" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="image_modal_container">
              <img src="image/checked 1.svg" alt="">
          </div>
          <div class="modal_success_msg">
              Success!
          </div>
          <div class="wording_for_modal" id="wording_for_modal">
              
          </div>
        </div>
        <div class="modal-footer modal-footer1 d-flex justify-content-center">
          <button type="button" class="btn green-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- unsuccessfull -->
<div class="modal fade" id="unsuccessModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="image_modal_container">
              <img src="image/cancel 1.svg" alt="">
          </div>
          <div class="modal_unsuccess_msg">
              Sorry :(
          </div>
          <div class="wording_for_modal" id="wording_for_modal_un">
              
          </div>
        </div>
        <div class="modal-footer modal-footer1 d-flex justify-content-center">
          <button type="button" class="btn red-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../js/js/addoperator.js"></script>
    <script type="module" src="../js/js/logout.js"></script>
    <script type="module" src="../js/js/profileinfo.js"></script>
    <script type="module" src="../js/js/getoperatortabledata.js"></script>
    <script type="module" src="../js/js/operator_graph.js"></script>
</body>
</html>