
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin_login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="heading">
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content_for_login">
            <div class="welcome_title">
                Enter OTP
            </div>
            <div class="input_field">
                <span class="topic">OTP</span><br>
                <div class="instruct">Check your OTP in your email. It is send to your email</div>
                <input id="otp" type="text" placeholder="Enter OTP">
            </div>
            <div class="button_container">
                <button id="verifyotp" class="login_button" type="button">Enter</button>
            </div>
        </div>
    </div>
    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="image_modal_container">
                  <img src="image/checked 1.svg" alt="">
              </div>
              <div class="modal_success_msg">
                  Success!
              </div>
              <div class="wording_for_modal" id="wording_for_modal">
                  
              </div>
            </div>
            <div class="modal-footer modal-footer1 d-flex justify-content-center">
              <button type="button" class="btn green-btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <!-- unsuccessfull -->
    <div class="modal fade" id="unsuccessModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="image_modal_container">
                  <img src="image/cancel 1.svg" alt="">
              </div>
              <div class="modal_unsuccess_msg">
                  Sorry :(
              </div>
              <div class="wording_for_modal" id="wording_for_modal_un">
                  
              </div>
            </div>
            <div class="modal-footer modal-footer1 d-flex justify-content-center">
              <button type="button" class="btn red-btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" scr="../js/js/verifyotp"></script>
</body>
</html>