<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank of Bhutan</title>
    <link rel="stylesheet" href="../css/admin_dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="left_side_bar">
        <div class="logo">
            <img src="../image/BoB-Logo.svg"  alt="Logo">
        </div>
        <div class="navigations">
            <div class="nav top active">
                <a href="dashboard">
                    <div class="nav_link active">
                        Dashboard
                    </div>
                    <img src="image/Icon.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="appointment">
                    <div class="nav_link">
                        Appointment
                    </div>
                    <img src="image/icon1.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="service">
                    <div class="nav_link">
                        Services
                    </div>
                    <img src="image/icon2.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="operator">
                    <div class="nav_link">
                        Operator
                    </div>
                    <img src="image/icon3.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav">
                <a href="prioritize">
                    <div class="nav_link">
                        Prioritize
                    </div>
                    <img src="image/icon4.svg" class="icon" alt="">
                </a>
            </div>
        </div>
        <div class="logout_profile">
            <div class="nav bot" data-bs-toggle="modal" data-bs-target="#modalprofile">
                <a href="#" class="diff">
                    <div class="nav_link">
                        Profile
                    </div>
                    <img src="image/profile.svg" class="icon" alt="">
                </a>
            </div>
            <div class="nav bot">
                <a id="logout" class="diff">
                    <div class="nav_link">
                        Log Out
                    </div>
                    <img src="image/icon4.svg" class="icon" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="right_main_container">
        <div class="header">
            <div class="title">
                Dashboard
            </div>
        </div>
        <div class="stats">
            <div class="stats_div">
                <div class="titles_of_div">
                    APPOINTMENTS
                </div>
                <div class="numbers" id="appointmenttokencountoday">
                    0
                </div>
            </div>
            <div class="stats_div">
                <div class="titles_of_div">
                    WALK IN
                </div>
                <div class="numbers" id="walkintokencounttoday">
                    0
                </div>
            </div>
        </div>
        <div class="graph">
            <div class="pie" id="piechart_3d" style="width: 49%; height: 280px;"></div>
            <div class="pie" id="piechart_3d2" style="width: 49%; height: 280px;"></div>
        </div>
        <div class="stats">
            <div class="stats_div stats_div2">
                <div class="titles_of_div">
                    COUNTERS
                </div>
                <div class="numbers" id="maxcounternumber">
                    13
                </div>
            </div>
            <div class="stats_div stats_div2">
                <div class="titles_of_div">
                    SERVICES
                </div>
                <div class="numbers">
                    5
                </div>
            </div>
        </div>
        <div class="download_and_select_btn">
            <select class="service_options" id="serviceSelect">
                <option value="Cash (Deposit/Withdraw)">Cash(Deposit/Withdrawal)</option>
                <option value="RTGS">RTGS</option>
                <option value="SWIFT">SWIFT</option>
                <option value="ATS/DSA">ATS/DSA</option>
                <option value="Dollar Seling/ FC Transfer/ Travel Agent/CBC">Dollar Seling/ FC Transfer/ Travel Agent/CBC</option>
                <option value="All">All</option>
            </select>
            <button type="button" id="searchButton"><img src="image/search.svg" alt=""></button>
            <button class="downloads"><img src="image/download.svg" alt="" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
        </div>
        <div class="table-container">
            <table class="table table-bordered table_for_service">
                <thead class="table-dark">
                    <tr>
                        <th>Counter</th>
                        <th>Average Waiting Time</th>
                        <th>Completed</th>
                        <th>Average Time For Each Customer</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div id="noDataMessage" style="display: block; text-align: center; margin-top: 10px;">
            Select a service
        </div>
        <div class="download_and_select_btn">
            <button data-bs-toggle="modal" data-bs-target="#exampleModal1" class="downloads"><img src="image/download.svg" alt=""></button>
        </div>
        <div class="table-container1">
            <table class="table table-bordered table_for_operator">
                <thead class="table-dark">
                    <tr>
                        <th>Counter</th>
                        <th>Token Issued</th>
                        <th>Token Skipped</th>
                        <th>Completed</th>
                        <th>Forwarded</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <p id="noDataMessage1" style="display: none; color: red; text-align: center;">
            No tokens served today.
        </p>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Each Services performance data</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Select the button below to download the data in the given format.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="export-pdf" data-bs-dismiss="modal">Export to PDF</button>
                <button class="btn btn-success" id="export-csv" data-bs-dismiss="modal">Export to CSV</button>
                <button class="btn btn-warning" id="export-excel" data-bs-dismiss="modal">Export to Excel</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Each Services performance data</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Select the button below to download the data in the given format great.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="export-pdf1" data-bs-dismiss="modal">Export to PDF</button>
                <button class="btn btn-success" id="export-csv1" data-bs-dismiss="modal">Export to CSV</button>
                <button class="btn btn-warning" id="export-excel1" data-bs-dismiss="modal">Export to Excel</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="modalprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Profile</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input_field">
                        <span class="topic">Name</span><br>
                        <input id="userName" type="text" readonly>
                    </div>
                    <div class="input_field">
                        <span class="topic">Email</span><br>
                        <input id="userEmail" type="text" readonly>
                    </div>
                    <div class="input_field">
                        <span class="topic">Change password</span><br>
                        <input id="passwordCurrent" type="password" placeholder="Enter Current password">
                        <input id="passwordNew" type="password" placeholder="Enter New password">
                        <input id="passwordConfirm" type="password" placeholder="Enter the new password again">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="update-password-btn" data-bs-dismiss="modal">Save change</button>
                    <button class="btn btn-danger" id="export-excel1" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="image_modal_container">
                  <img src="image/checked 1.svg" alt="">
              </div>
              <div class="modal_success_msg">
                  Success!
              </div>
              <div class="wording_for_modal" id="wording_for_modal">
                  
              </div>
            </div>
            <div class="modal-footer modal-footer1 d-flex justify-content-center">
              <button type="button" class="btn green-btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <!-- unsuccessfull -->
    <div class="modal fade" id="unsuccessModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="image_modal_container">
                  <img src="image/cancel 1.svg" alt="">
              </div>
              <div class="modal_unsuccess_msg">
                  Sorry :(
              </div>
              <div class="wording_for_modal" id="wording_for_modal_un">
                  
              </div>
            </div>
            <div class="modal-footer modal-footer1 d-flex justify-content-center">
              <button type="button" class="btn red-btn" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SheetJS for CSV and Excel exports -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <!-- jsPDF for PDF export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script type="module" src="../js/js/admin.js" ></script>
    <script type="module" src= "../js/js/logout.js"></script>
    <script type="module" src="../js/js/profileinfo.js"></script>
    <script type="module" src="../js/js/getDashboardData.js"></script>
</body>
</html>