/* Apply Open Sans font */
body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(51, 51, 51, 0.75);
    margin: 0; /* Remove margin from the body */
    padding: 0; /* Ensure no extra padding */
    font-weight: 600;
}

/* Blue background for the body */
.blue-background {
    background-color: #00A7E3; /* Apply blue background to the body */
    padding-bottom: 0;
    min-height: 100vh; /* Ensure the background covers the entire viewport */
    display: flex;
    flex-direction: column; /* Allow flex behavior for header and footer positioning */
}

/* Custom styles for logo */
.logo {
    width: 80px;
    height: auto;
}

/* Header section */
.header-container {
    padding-left: 200px;
    padding-right: 20px;
    padding-top: 0;
    background-color: white;
    margin: 0;
}

.header-container h2 {
    font-weight: 600;
    margin: 0;
    font-size: 24px;
}

.topic {
    font-weight: 600;
    font-size: 25px;
    color: rgba(51, 51, 51, 0.75); 
}

.text-start  {
    font-weight: 600;
}
p{
   
    font-weight: 600;
}


/* Responsive Design for Header */
@media (max-width: 1200px) {
    .header-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        width: 40px;
    }

    .header-container h2 {
        font-size: 22px;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .logo {
        width: 35px;
    }

    .header-container h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo {
        width: 30px;
    }

    .header-container h2 {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .header-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo {
        width: 25px;
    }

    .header-container h2 {
        font-size: 16px;
    }
}



/* Border styling */
.border-flat {
    border: 1px solid #00A7E3 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    padding: 30px;
    width: 100%;
    margin: 50px auto;
    background-color: white;
}



.form-container p {
    margin-bottom: 1.5rem; /* Maintain consistent spacing after each paragraph */
}

.form-container h5 {
    margin-bottom: 1rem;
    font-weight: 600; /* Slightly bolder than normal */
    margin-top: 2rem; /* Adds more space above the h5 */
}

/* Footer customization */
.footer-custom {
    background-color: #343a40;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin-top: auto !important;

}

.footer-custom a {
    color: #00A7E3;
    text-decoration: none;
}

.footer-custom a:hover {
    text-decoration: underline;
}

/* Button styling */
.btn-primary {
    background-color: transparent;
    border-color: #00A7E3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(51, 51, 51, 0.75);;
}

.btn-primary:hover {
    background-color: #00A7E3;
    border-color: #00A7E3;
    color: black !important;
}
.btn-primary:active {
    background-color: rgba(6, 147, 227, 1) !important;
    border-color: rgba(6, 147, 227, 1) !important;
    color: rgba(51, 51, 51, 0.75);;
}

/* Style the close button */
.btn-close {
    filter: invert(36%) sepia(89%) saturate(5349%) hue-rotate(356deg) brightness(103%) contrast(110%);
    opacity: 1;
}

/* Remove focus outline */
input:focus, button:focus {
    outline: none;
    box-shadow: none; /* This removes any additional focus shadow for Bootstrap */
}

/* Form field styling */
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: rgba(51, 51, 51, 0.75); /* Darker label color */
}

/* Input field styling */
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(51, 51, 51, 0.75);; /* Darker border color */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    


}

.form-group input::placeholder {
    font-size: 14px;
   
    color: rgba(51, 51, 51, 0.5); /* Optional: change color for better visibility */
}


/* Focus effect for input fields */
.form-group input:focus {
    border-color: #000000; /* Darker border on focus */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Custom Submit Button */
.submit-btn {
    background-color: #00A7E3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; /* Changed from 50% to auto to make it smaller */
    min-width: 150px; /* Set a minimum width for the button */
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
}

.submit-btn:hover {
    background-color: #E2E6EA;
}
/* Custom horizontal rule */
.custom-hr {
    width: 100%;
    border: 1px solid #00A7E3; /* Blue color for horizontal rule */
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}

/* Responsive Design for Form */
@media (max-width: 768px) {
    .form-group {
        width: 100%;
    }
    
    .form-group input {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .form-container {
        padding: 0 15px; /* Add some padding for small screens */
    }

    .submit-btn {
        width: 100%; /* Ensure the submit button takes full width on mobile */
    }
}

.btn-close:focus {
    box-shadow: none;
    outline: none;
}

@media (max-width: 25em) {
    .header-container h2,h6,p {
        font-size: 12px;
        
    }
  

    .logo {
        width: 60px; /* Adjust this size as needed */
    }

   
    #userEmail::placeholder {
        color: #777; 
        font-size: 12px; 
    }
    .email-icon {
        width: 50px;
    }

    .footer-custom p {
        font-size: 12px;
    }
    
    .custom-button {
        background-color: #00A7E3; /* Custom blue background */
        color: white; /* White text */
        font-size: 12px !important; /* Font size */
        padding: 10px 20px; /* Padding */
        border-radius: 5px; /* Slightly rounded corners */
        cursor: pointer; /* Pointer cursor on hover */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    
    .custom-button:hover {
        background-color: #008bb5; /* Darker blue on hover */
    }

    /* Label styling */
.form-group label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    color: rgba(51, 51, 51, 0.75); /* Darker label color */
    font-size: 12px;
}

/* Input field styling */
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgba(51, 51, 51, 0.75);; /* Darker border color */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-size: 12px;

}

.form-group input::placeholder {
    font-size: 14px;
   
    color: rgba(51, 51, 51, 0.5); /* Optional: change color for better visibility */
}
.text-start  {
    font-size: 12px;
    font-weight: 600;
}
p{
   
    font-weight: 600;
    font-size: 12px;
}
.submit-btn {
    background-color: #00A7E3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto; /* Keep this as auto to avoid width constraint */
    padding: 12px 12px; /* Adjust the padding to make the button smaller */
    font-weight: 600;
    font-size: 12px; /* Reduce font size */
    text-align: center;
}

.btn-primary {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


}