.red-btn{
    background-color: #DC3545 !important;
}
.service_performance_graph button{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}
.green-btn{
    background-color: #32BA7C !important;
}
.errors_info{
    font-size: 12px;
    color: #DC3545;
    display: none;
}
.invalid {
    border-color: red;
}
.image_modal_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image_modal_container img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    height: 20%;
}
.modal_unsuccess_msg{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #F15249;
    font-size: 30px;
    font-weight: bold; 
}
.modal_success_msg{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #32BA7C;
    font-size: 30px;
    font-weight: bold;
}
.wording_for_modal{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.modal-footer {
    border-top: none !important;
}
.modal-footer1 .btn{
    width: 50%;
    color: #ffffff;
    background-color: #32BA7C;
}



body{
    display: flex;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #666262;
}
.left_side_bar{
    position: relative;
    padding: 20px;
    box-shadow: -10px 0 15px rgb(34, 24, 24);
    position: fixed;
    height: 100vh;
    width: 25%;
}
.right_main_container{
    padding: 20px;
    padding-right: 50px !important;
    width: 70%;
    margin-left: 30%;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    border-radius: 3px;
    position: relative;
    color: #666262;
    font-size: 18px;
    font-weight: bold;
    height: 7vh;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(242, 242, 243, 0.5);;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link{
    width: 40%;
    color: #666262;
}
.top{
    margin-top: 60px;
}
.nav a{
    width: 20%;
}
.icon{
    position: absolute;
    top: 35%;
    left: 30%;
}
.diff{
    width: 50% !important;
    margin-left: 100px;
}
.active{
    color: #FFFFFF !important;
    background-color: #15A4DE;
}
.logout_profile{
    width: 90%;
    position: absolute;
    bottom: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75);
}
.start, .end {
    display: flex;
    align-items: center;
}
.table-container {
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}
.table thead th {
    border: 1px solid rgba(191, 219, 254, 0.5);
    height: 40px;
    position: sticky;
    top: 0;
    background-color: #00A7E3;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center !important;
}
td{ 
    font-size: 14px;
    color: rgba(102, 102, 102, 0.6) !important;
    height: 40px;
    border: 1px solid rgba(191, 219, 254, 0.5);
    text-align: center !important;
}
.slno{
    width: 10%;
}
a{
    text-decoration: none !important;
}
.table-container1 {
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}
.table_for_operator td{
    width: 20%;
}
.for_service{
    margin-top: 100px;
}
.add_teller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #00A7E3;
    border: 1.5px solid #00A7E3;
    border-radius: 4px;
    width: 200px;
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
}
.plus{
    font-size: 20px;
}
select{
    color: #00A7E3;
    border-color: #00A7E3;
    border-radius: 6px;
    height: 33px;
}
.topic{
    font-size: 14px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75)
}
.star{
    font-size: 14px;
    color: #DC3545; 
}
input::placeholder {
    color: rgba(51, 51, 51, 0.60); 
    font-size: 12px;
}
input{
    margin-top: 10px;
    width: 100%;
    height: 42px;
    border:1px solid #CED4DA;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
input:focus {
    outline: none;
}
/* .input_field{
    height: 80px;
} */
.modal-title{
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}
input::placeholder {
    color: rgba(51, 51, 51, 0.60); 
    font-size: 12px;
}
input{
    margin-top: 10px !important;
    width: 100%;
    height: 42px;
    border:1px solid #CED4DA;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
input:focus {
    outline: none;
}
.input_field{
    margin-top: 30px;
}
#modalprofile .modal-content {
    height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Adds scrolling if content exceeds height */
}
.topic{
    font-size: 14px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75)
}
.service_performance_graph{
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.service_performance_graph select{
    height: 33px;
}
.serv{
    font-size: 12px;
    outline: none;
    width: 100%;
    height: 42px;
    color: #929598;
    border: 1px solid #ced4da;
}