.red-btn{
    background-color: #DC3545 !important;
}
.green-btn{
    background-color: #32BA7C !important;
}
.errors_info{
    font-size: 12px;
    color: #DC3545;
    display: none;
}
.invalid {
    border-color: red;
}
.image_modal_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image_modal_container img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
    height: 20%;
}
.modal_unsuccess_msg{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #F15249;
    font-size: 30px;
    font-weight: bold; 
}
.modal_success_msg{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #32BA7C;
    font-size: 30px;
    font-weight: bold;
}
.wording_for_modal{
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.modal-footer {
    border-top: none !important;
}
.modal-footer1 .btn{
    width: 50%;
    color: #ffffff;
    background-color: #32BA7C;
}



#userName{
    width: 100%;
}
#userEmail{
    width: 100%;
}
#passwordCurrent{
    width: 100%;
}
#passwordNew{
    width: 100%;
}
#passwordConfirm{
    width: 100%;
}
body{
    display: flex;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.graph {
    font-family: 'Open Sans', sans-serif;
    color: #00A7E3;
}
.pie text {
    fill: #160606; /* Change text color if needed */
}
a{
    text-decoration: none;
    color: #666262;
}
.left_side_bar{
    position: relative;
    padding: 20px;
    box-shadow: -10px 0 15px rgb(34, 24, 24);
    position: fixed;
    height: 100vh;
    width: 25%;
}
.right_main_container{
    padding: 20px;
    padding-right: 50px !important;
    width: 70%;
    margin-left: 30%;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav{
    border-radius: 3px;
    position: relative;
    color: #666262;
    font-size: 18px;
    font-weight: bold;
    height: 7vh;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgba(242, 242, 243, 0.5);;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_link{
    width: 40%;
    color: #666262;
}
.top{
    margin-top: 60px;
}
.nav a{
    width: 20%;
}
.icon{
    position: absolute;
    top: 35%;
    left: 30%;
}
.diff{
    width: 50% !important;
    margin-left: 100px;
}
.active{
    color: #FFFFFF !important;
    background-color: #15A4DE;
}
.logout_profile{
    width: 90%;
    position: absolute;
    bottom: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75);
}

.date {
    font-size: 12px;
    color: #666666;
    display: flex;
    gap: 10px;
}

.start, .end {
    display: flex;
    align-items: center;
}
.button_div button{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}
.download_and_select_btn button{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}
.searbtn{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}
.header input{
    border: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 33px;
}
.stats{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.stats_div{
    box-shadow: 0 0 15px 5px rgba(0, 167, 227, 0.1);
    width: 48.7%;
    height: 90px;
}
.titles_of_div{
    color: #858585;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.numbers{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #00A7E3;
}
.graph{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 100px;
}
.pie{
    box-shadow: 0 0 15px 5px rgba(0, 167, 227, 0.1);
}
.stats_div2{
    width: 48.5%;
}
.table-container {
    height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}
.table thead th {
    border: 1px solid rgba(191, 219, 254, 0.5);
    height: 40px;
    position: sticky;
    top: 0;
    background-color: #00A7E3;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center !important;
}
td{ 
    font-size: 14px;
    color: rgba(102, 102, 102, 0.6) !important;
    height: 40px;
    border: 1px solid rgba(191, 219, 254, 0.5);
    width: 25%;
    text-align: center !important;
}
.service_options{
    height: 33px;
}
select{
    border-radius: 5px;
    color: #00A7E3;
    border: 2px solid #00A7E3;
    outline: none;
}
.searchbtn{
    height: 33px;
    color: #00A7E3;
    border: 2px solid #00A7E3;
    outline: none;
}
.download_and_select_btn{
    margin-top: 70px;
}
.downloads{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}
a{
    text-decoration: none !important;
}
.table-container1 {
    height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}
.table_for_operator td{
    width: 20%;
}
.for_service{
    margin-top: 100px;
}
.add_teller{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #00A7E3;
    border: 1.5px solid #00A7E3;
    border-radius: 4px;
    width: 200px;
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
}
.plus{
    font-size: 20px;
}
input::placeholder {
    color: rgba(51, 51, 51, 0.60); 
    font-size: 12px;
}
input{
    margin-top: 10px !important;
    height: 42px;
    border:1px solid #CED4DA;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
input:focus {
    outline: none;
}
.input_field{
    margin-top: 30px;
}
#modalprofile .modal-content {
    height: 80vh; /* 80% of the viewport height */
    overflow-y: auto; /* Adds scrolling if content exceeds height */
}
.topic{
    font-size: 14px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75)
}
.service_performance_graph{
    height: 500px;
    margin-bottom: 50px;
}
.service_performance_graph select{
    height: 33px;
}
.service_performance_graph button{
    background-color: #00A7E3;
    width: 36px;
    height: 33px;
    border: none;
    border-radius: 3px;
}